<ion-view view-title="Browse">
	<ion-content>
	 
	<div class="list">
		<a class="item item-thumbnail-left" href="#">
			<img src="http://placehold.it/160x160">
			<h2>Pretty Hate Machine</h2>
			<p>Nine Inch Nails</p>
		</a>
		
		<a class="item item-thumbnail-left" href="#">
			<img src="http://placehold.it/160x160">
			<h2>Pretty Hate Machine</h2>
			<p>Nine Inch Nails</p>
		</a>
		
		<a class="item item-thumbnail-left" href="#">
			<img src="http://placehold.it/160x160">
			<h2>Pretty Hate Machine</h2>
			<p>Nine Inch Nails</p>
		</a>
		
		<a class="item item-thumbnail-left" href="#">
			<img src="http://placehold.it/160x160">
			<h2>Pretty Hate Machine</h2>
			<p>Nine Inch Nails</p>
		</a>
		
		<a class="item item-thumbnail-left" href="#">
			<img src="http://placehold.it/160x160">
			<h2>Pretty Hate Machine</h2>
			<p>Nine Inch Nails</p>
		</a>	
		
		<a class="item item-thumbnail-left" href="#">
			<img src="http://placehold.it/160x160">
			<h2>Pretty Hate Machine</h2>
			<p>Nine Inch Nails</p>
		</a>											
	</div>
	   
	</ion-content>
</ion-view>
